<div id="teachersViewTable" style="width: 60%; position: absolute; left: 25%;">
    <ul id="example1-context-menu" class="dropdown-menu">
        <li data-item="edit"><a>Edit</a></li>
        <li data-item="delete"><a>Delete</a></li>
        <li data-item="action1"><a>Action Here</a></li>
        <li data-item="action2"><a>And Action Here</a></li>
    </ul>
    <table data-toggle="table" data-url="includes/data.json" id="table"
           data-sort-name="id" data-sort-order="asc"
           data-show-columns="true" data-show-refresh="true"
           data-show-toggle="true" data-search="true"
           data-show-export="true" data-pagination="true"
           data-show-multi-sort="true" data-show-pagination-switch="true"
           data-filter-control="true" data-height="400">
        <thead>
        <tr>
            <th data-field="id" data-halign="center" data-align="center"
                data-sortable="true" data-filter-control="input">Teacher ID
            </th>
            <th data-field="firstName" data-halign="center" data-align="center"
                data-sortable="true" data-editable="true" data-filter-control="input">First Name
            </th>
            <th data-field="lastName" data-halign="center" data-align="center"
                data-sortable="true" data-editable="true" data-filter-control="input">Last Name
            </th>
            <th data-field="birthday" data-halign="center" data-align="center"
                data-sortable="true" data-editable="true" data-filter-control="input">Birthday
            </th>
            <th data-field="city" data-halign="center" data-align="center" data-sortable="true"
                data-editable="true" data-filter-control="input">City
            </th>
            <th data-field="street" data-halign="center" data-align="center"
                data-sortable="true" data-editable="true" data-filter-control="input">Street
            </th>
            <th data-field="houseNum" data-halign="center" data-align="center"
                data-sortable="true" data-editable="true" data-filter-control="input">House Number
            </th>
        </tr>
        </thead>
    </table>
</div>